body {
    background-color: #D5E1EF;
}

div {
    text-align: center;
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 22px;
    
}

h5 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #7D889E;
    font-size: 16px;
    kerning: 1px;
}

img {
    border-radius: 20px;
    width: 288px;
    height: 288px;
    margin-top: 16px;
    
    
}

.attribution { 
    font-size: 11px; 
    margin: auto; 
    font-family: 'Outfit', sans-serif;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    font-family: 'Outfit', sans-serif; 
}

.text {
    width: 256px;
    height: 129px;
    margin: auto;
    margin-bottom: 16px;
}

.qr-container {
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    margin: 32px auto;
    border-radius: 20px;
    width: 320px;
    height: 497px;
}



